html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: Arial, sans-serif;
}
body{
    background: url(../img/body-fon.jpg) repeat-x;
}
#header{
    width: 100%;
    height: 80px;
    background: url(../img/header-fon.png) repeat-x;

}
#logo{
    background: url(../img/logo.png);
    width: 187px;
    height: 246px;
    position: absolute;

}
#header h1{
    background: #fff;
    width: 85%;
    padding: 3px;
    text-align: center;
    color: #006355;
    border-bottom: 1px #b1cac6 solid;
    border-top: 1px #b1cac6 solid;
    float: right;
    margin-top: 38px;
    margin-right: 20px ;
}
.section{
    margin: 0 10px;
    position: relative;
    z-index: 10;

}

.section h2{
    color: #6f6f6f;
    text-align: center;
    margin-top: 10px;
}
.select-box{
    background: url(../img/button-fon-orange.jpg);
    border: 1px #b84901 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 32px;
    padding: 5px 10px;
    margin:  10px 0;
}

.select-box p{
    float: left;
    width: auto;
    color: #fff;
    font-size: 135%;
    /*font-weight: bold;*/
    margin-top: 5px;
}
.selectbox{
    float: right;
}
.dropdown{
    width: auto;
    border: 2px #750f25 solid;
}
.dropdown ul li{
    display: block;
    float: left;
    font-weight: bold;

}
.dropdown ul li:hover{
    color: #750f25;
    background: #ebdbdc;
}
.dropdown ul:hover.trigger{
    background: url(../img/arrow-hover.png);
}

.selectbox {
    vertical-align: middle;
    cursor: pointer;
}
.selectbox .select {
    width: 25px;
    height: 30px;
    padding: 0 45px 0 10px;
    color: #333;
    text-shadow: 1px 1px #FFF;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
}
.selectbox .select:hover {
    background-color: #E6E6E6;
    background-position: 0 -10px;
}
.selectbox .select:active {
    background: #f5f5f5;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
    border: 1px solid #5794BF;
}
.selectbox .select .text {
    display: block;
    width: auto;
    margin-top: 6px;
    float: left;
    font-weight: bold;
}
.selectbox .trigger {
    position: absolute;
    right: 0;
    width: 32px;
    height: 25px;
    margin-top: 2px;
    border-left: 2px solid #c24e01;
}
.selectbox .trigger .arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/arrow-down.png);
    height: 10px;
    width: 13px;
}
.selectbox:hover .arrow {
    opacity: 1;
    filter: alpha(opacity=100);
}
.selectbox .dropdown {
    top: 33px;
    width: 265px !important;
    right: 0 !important;
    margin: 0;
    padding: 0;
    background: #FFF;
    border-radius: 4px;
}
.selectbox li {
    padding: 5px 15px 5px;
    color: #231F20;
}
.selectbox li.selected {
    background: #A3ABB1;
    color: #FFF;
}
.selectbox li:hover {
    background: #08C;
    color: #FFF;
}
.selectbox li.disabled {
    color: #AAA;
}
.selectbox li.disabled:hover {
    background: none;
}
.active{
    background: url(../img/button-fon-vinous.jpg);
    border: 1px #760e27 solid;
}
.active .trigger{
    border-left: 2px solid #751227;
}
.active .trigger .arrow{
    background: url(../img/arrow-hover.png) no-repeat;
}
.normal{
    background: url(../img/button-fon-normal.jpg);
    border: 1px #023f3a solid;
}
.normal .trigger{
    border-left: 2px solid #03403b;
}
.normal .trigger .arrow{
    background: url(../img/arrow-normal.png) no-repeat;
}

.section-text{
    clear: both;
    display: table;
    width: 100%;
}
form{
    margin-top: 20px;
}
.section-text> div{
    width: 10%;
    float: left;
    font: bold 120% ;
    color: #6d6d6d;
    padding-left: 2%;
    text-align: center;
}
.section-text> div input{
    display: none;
}
.section-text> div p{
    margin-bottom: 10px;

}
.notes-checkbox{

    width: 31px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -9px;
    margin-right: 5px;
    background: url(../img/checkbox.jpg) no-repeat;

}

.section-text textarea{
    width: 85%;
    float: right;
    border: 2px solid #6d6d6d;
}
.submit{
    width: 256px;
    margin: 0 auto;
    position: relative;
    margin-top: 25px;
}
.submit input{
    opacity: 0;
    height: 59px;
    width: 256px;
    position: relative;
    z-index: 11;
    cursor: pointer;
}
.submit span{
    background: url(../img/button.png) no-repeat;
    height: 41px;
    width: 256px;
    margin-top: -59px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 18px;
    font-size: 120%;
}
.submit input:hover~span{
    text-shadow: 1px 1px 1px rgba(252, 252, 252, 0.3);
}


/* my styles */
#overlay{
    background-color: #a8a8a8;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}