div[data-role=page]{  background: url(../img/section_bg.jpg) repeat-x top #cbcbcb; border-top:1px solid #000; }
.ui-body-c,.ui-btn-up-c{
	text-shadow:none !important;
}
.ui-br{
	border-style:none !important;
}

.ui-mobile-viewport .ui-page .ui-header { background:transparent; background-color:#c2d7d6; border:0 none; text-shadow:none; }
.ui-header h1.ui-title { border-left:1em solid #e2d3c8; color:#757575; margin:0px; padding:0px; text-align:left; /* height:46px; */}
.ui-header h1.ui-title.cancel_inspect { border-left:1em solid #e2d3c8; color:#757575; margin:0px; padding:0px; text-align:left; }
h1.ui-title span.address { float:left; padding: 0.4em 0 0 1em; width: 53%; white-space:normal; }
h1.ui-title span.logout{ background-color:#f0f0f0; color:#7d7d7d; float:right; font-size:smaller; padding:0.2em 1.2em; text-align:center; /* min-height:46px; *//* width: 20%; */}
h1.ui-title span.btn-back {background-color:#f0f0f0;  color:#7d7d7d; float:right; font-size:smaller; padding:0.2em 1.2em; text-align:center; /* min-height:46px; *//* width: 20%; */}
h1.ui-title span.btn-back_inspect{background-color:#f0f0f0;  color:#7d7d7d; float:right; font-size:smaller; padding:0.2em 1.2em; text-align:center; /* height:76px; *//* width: 20%; */}
.ui-page .ui-header .ui-btn-right{
	position:relative;
	top:0px;
}
span.btn-back a,span.logout a,span.btn-back_inspect a{
    border-radius: 2em;
    border: 1px solid #d3d3d3;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    color:#000;
    margin:0px;
    text-shadow:none;
}
.ui-field-contain div.ui-input-text{
	border-radius: 5px;
}
#login_form .ui-shadow{
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-radius: 30px;
	border: 1px solid #a0a0a2;
}
span.btn-back a:hover ,span.logout a:hover , span.btn-back_inspect a:hover { color:gray; }
span.btn-back a span , span.logout a span ,span.btn-back_inspect a span { font: bold 1.4em Helvetica,Arial,sans-serif; padding:0 0.7em; }

.ui-content { background: url(../img/section_bg.jpg) repeat-x top #cbcbcb; border-top:1px solid #000; padding:0 15px;}
.ui-content h2 { margin:0px; padding:0px; }
.ui-content h5 font{color:#000;}
a.btn-main { text-decoration:none; }
a.btn-main div {
    border-radius:0.5em;
    border: 1px solid #b33800;
    background-image: -ms-linear-gradient(top, #c84f01 0%, #af4602 100%);
    background-image: -moz-linear-gradient(top, #c84f01 0%, #af4602 100%);
    background-image: -o-linear-gradient(top, #c84f01 0%, #af4602 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c84f01), color-stop(1, #af4602));
    background-image: -webkit-linear-gradient(top, #c84f01 0%, #af4602 100%);
    background-image: linear-gradient(to bottom, #c84f01 0%, #af4602 100%);
    color:#fff;
    text-align:left;
    text-shadow:none;
}
a.btn-main:hover div {
    background-image: -ms-linear-gradient(top, #e06413 0%, #c35209 100%);
    background-image: -moz-linear-gradient(top, #e06413 0%, #c35209 100%);
    background-image: -o-linear-gradient(top, #e06413 0%, #c35209 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e06413), color-stop(1, #c35209));
    background-image: -webkit-linear-gradient(top, #e06413 0%, #c35209 100%);
    background-image: linear-gradient(to bottom, #e06413 0%, #c35209 100%);
    color:#000;
}
.active a.btn-main div {
    border: 1px solid #07554b;
    background-image: -ms-linear-gradient(top, #096055 0%, #074c43 100%);
    background-image: -moz-linear-gradient(top, #096055 0%, #074c43 100%);
    background-image: -o-linear-gradient(top, #096055 0%, #074c43 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #096055), color-stop(1, #074c43));
    background-image: -webkit-linear-gradient(top, #096055 0%, #074c43 100%);
    background-image: linear-gradient(to bottom, #096055 0%, #074c43 100%);
}
.active a.btn-main:hover div {
    background-image: -ms-linear-gradient(top, #0c7567 0%, #0a5b51 100%);
    background-image: -moz-linear-gradient(top, #0c7567 0%, #0a5b51 100%);
    background-image: -o-linear-gradient(top, #0c7567 0%, #0a5b51 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c7567), color-stop(1, #0a5b51));
    background-image: -webkit-linear-gradient(top, #0c7567 0%, #0a5b51 100%);
    background-image: linear-gradient(to bottom, #0c7567 0%, #0a5b51 100%);
}
a.btn-main div span { white-space:normal; }
a.btn-main div span.ui-btn-inner { padding-bottom:1em; }

div.block { padding-right:3em; position:relative; }
div.block .number { display:none; }
div.block.active .number {
    display:block;
    font-size:3em;
    margin:0px; padding:0px;
    position:absolute;
    right:-5px;
    text-align:center;
    text-shadow:none;
    top:0px;
	background:#aeb8b7;
	color:#075d52;
	width: 50px;
	border-radius:3px;
	height: 100%;
	line-height: 50px;
}
div.block.active .number.na {
	line-height: 30px;  
	font-size:1.6em;
	top:0px; 
	right: -5px; height:100%;
	background:#aeb8b7;
	border-radius:3px;
	width: 50px;
 }
div.block.active .number.na span{
/* font-size:.6em; */
color:#075d52;
}
div.block .number{ 
	position: absolute;
	display:block;
	top:0px; 
	right: -5px; height:100%;
	background:#c6b1a3;
	border-radius:3px;
	width: 50px;
	height: 100%;
}

ul[data-role=listview] li a.inspectable {
    white-space:normal !important;
    overflow: visible !important;
}

/* = Textarea + Submit button = */
.ui-content h3 { padding-right:1em; }
.ui-content h3, .block-textarea { float:left; }
.ui-content h3{ width: 20%; }
.block-textarea { width: 70%; }

.ui-content .block-submit .ui-submit{ 
clear: both; width: 160px; margin: 0 auto; 
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
border-radius: 30px;
border: 1px solid #a0a0a2;
}

.ui-content h3 font { font-weight:normal; }
.ui-submit {
    border: 1px solid #044062;
    background-image: -ms-linear-gradient(top, #5E9AC4 0%, #3A6C9F 100%);
    background-image: -moz-linear-gradient(top, #5E9AC4 0%, #3A6C9F 100%);
    background-image: -o-linear-gradient(top, #5E9AC4 0%, #3A6C9F 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5E9AC4), color-stop(1, #3A6C9F));
    background-image: -webkit-linear-gradient(top, #5E9AC4 0%, #3A6C9F 100%);
    background-image: linear-gradient(to bottom, #5E9AC4 0%, #3A6C9F 100%);
    color:#fff;
    text-shadow:none;
    width: 10em;
}

/* main */
.logo_img{
	background: url(../img/logo_387x134.png) no-repeat ;
	width: 400px;
	height: 140px;
	text-align: center;
	margin: 0 auto;
	position:relative;
}

.all_input{	
	text-align:center; 
	margin: 0 auto;
	width:300px;
}
.input_text{
	width:300px;
}

/*  */
/* welcome */

.welcome li{
 	border-radius:5px;
 	border: 1px solid #69696a;
 	background-image: -ms-linear-gradient(top, #be4032 0%, #a73528 100%);
 	background-image: -moz-linear-gradient(top, #be4032 0%, #a73528 100%);
 	background-image: -o-linear-gradient(top, #be4032 0%, #a73528 100%);
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #be4032), color-stop(1, #a73528));
 	background-image: -webkit-linear-gradient(top, #be4032 0%, #a73528 100%);
 	background-image: linear-gradient(to bottom, #be4032 0%, #a73528 100%);
 	color:#fff;
	text-align:left;
	text-shadow:none;
}
.welcome li:hover{
	background-image: -ms-linear-gradient(top, #a73528 0%, #be4032 100%);
 	background-image: -moz-linear-gradient(top, #a73528 0%, #be4032 100%);
 	background-image: -o-linear-gradient(top, #a73528 0%, #be4032 100%);
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a73528), color-stop(1, #be4032));
 	background-image: -webkit-linear-gradient(top, #a73528 0%, #be4032 100%);
 	background-image: linear-gradient(to bottom, #a73528 0%, #be4032 100%);
	color:#000;
}
.welcome .ui-btn-inner{
	 border:none;
}

.welcome .ui-li.ui-btn{
	margin-bottom:10px;
}
.welcome_content .ui-shadow{
	box-shadow:none;
}
.welcome_content .ui-corner-all{
	border-radius:5px
}
.welcome_content .ui-btn-up-c a.ui-link-inherit{
	color:#fff;
}
.welcome_content ul li a:hover{
	color:#000;
}
.welcome_content .ui-icon-gear{
	box-shadow:none;
	background: none;
	background-image: url(images/icons_sprite.png);
	background-repeat: no-repeat;
	background-position: -45px center;
	width: 37px;
	height: 33px;
	border-radius:0px;
}
.welcome_content .ui-icon-grid{
	box-shadow:none;
	background: none;
	background-image: url(images/icons_sprite.png);
	background-repeat: no-repeat;
	background-position: -110px center;
	width: 37px;
	height: 33px;
	border-radius:0px;
}
.welcome_content .ui-icon-alert{
	box-shadow:none;
	background: none;
	background-image: url(images/icons_sprite.png);
	background-repeat: no-repeat;
	background-position: -110px center;
	width: 37px;
	height: 33px;
	border-radius:0px;
}
.welcome_content .ui-icon{
	box-shadow:none;
	background: none;
	width: 0px;
	height: 0px;
}
.welcome_content  .first_img .ui-icon{
 	box-shadow:none;
	background: none;
	background-image: url(images/icons_2sprite.png);
	width: 0px;
	height: 0px;
	/*background-repeat: no-repeat;
	width: 42px;
	height: 39px;
	border-radius:0px; */
}
.welcome_content .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
	min-height:25px;
}
.welcome_content .ui-btn-icon-right>.ui-btn-inner>.ui-icon{
	left: 20px;
	top: 8px;
}
.welcome_content .ui-li>.ui-btn-inner{
	
}
.welcome_content .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit{
	padding-left:70px;
}

.welcome_content  ul.welcome li  a{
	height:100%;	
}
.welcome_content .ui-li .ui-btn-text a.ui-link-inherit{
	white-space:normal;
	overflow: visible;
}
h1.ui-title span.logout span.ui-btn-inner{
	font-size:10.5px;
}
/* end welcome */

/* inspect */
.inspect .ui-corner-all{
	background-clip:border-box;
	-webkit-background-clip:border-box;
}
.inspect .ui-bar-b,.site_list .ui-bar-b, .log .ui-bar-b{
	background:#92b0af;
	border:none;
	color:#415050;
	font-style:normal;
	text-shadow:none;
}
.inspect .ui-listview>.ui-li.ui-first-child, .site_list .ui-listview>.ui-li.ui-first-child, .log .ui-listview>.ui-li.ui-first-child{
border-top-left-radius:4px;
border-top-right-radius:4px;

}
.inspect .ui-listview>.ui-li.ui-last-child, .site_list .ui-listview>.ui-li.ui-last-child, .log  .ui-listview>.ui-li.ui-last-child{
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
}
.inspect .ui-btn-icon-right>.ui-btn-inner>.ui-icon{
	left: 0px;
	z-index: 1;
	border-radius:0px;
}
.inspect .ui-icon{
	box-shadow:none;
	background: none;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0px center; 
}
.inspect .ui-li-thumb{
	/* top:10px; */
	top:35%;
}
.inspect .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	min-height:0px;
}
.inspect ul,.site_list ul, .log ul{
	border: 1px solid #666666;
	border-radius:5px;
}
.inspect .ui-btn-inner,.site_list .ui-btn-inner, .log .ui-btn-inner{
	border:none;
}
.inspect .ui-btn-hover-c,.site_list .ui-btn-hover-c, .log .ui-btn-hover-c{
	background:#efefef;
	border:none;
}
.inspect .ui-btn-text a{
	border-left: 20px solid #edded2;
    padding-left: 15px !important;
}
.inspect .ui-shadow,.site_list .ui-shadow, .log .ui-shadow{
	box-shadow:none;
}
.inspect  .ui-btn-up-c,.site_list .ui-btn-up-c, .log .ui-btn-up-c{
/* 	background:#fff; */
	background:#C54B4B;
	border:none;
}
.inspect p{
	color:#666666;
}
.inspect p.check div{
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-radius: 30px;
	border: 1px solid #a0a0a2;
}
/* end inspect */

/* site list */

.site_list .ui-btn-up-c,.log .ui-btn-up-c, .inspect .ui-btn-up-c{
	border-bottom:1px solid #666666;
}
.site_list .ui-btn-up-c.ui-last-child,.log .ui-btn-up-c.ui-last-child,.inspect .ui-btn-up-c.ui-last-child{
	border-bottom:none;
}
.site_list span{
	font-style:italic;
	color:#333333;
}
/* end site list */

/* logs */
.log .ui-li-static.ui-li{
	overflow:hidden;
}
.log .ui-li-static.ui-li{
	padding: 0px;
}
.log .left_points{
	width:55%;
	float:left;
	padding: 10px 10px;
}
.log .left_points span.adress {
	font-size: 0.8em; font-style: italic;
	color:#333333;
}
.log .left_points span.time
{
font-size: 0.8em; 
color:#9b9b9b; 
}
.log .points span.points_class
{
font-size: 0.8em; color:#666666;
}
.log .points span.procent
{
font-size: 0.8em;color:#666666; font-style: italic;
}
.log .points span.big_points
{
font-size: 1.5em;
}
.log .points span
{
font-size: 0.8em;
}
.log .points{
	position:absolute;
	top:5px;
	right:10px;
	height:90%;
	line-height: 19px;
	/* float:left; */
	background: #dae4e3;
	border-radius:3px;
	width: 30%;
	text-align:center;
	/* margin: 5px; */
}
.log .points_time{
	padding-top:10px;
	/* width: 38%; */
	text-align: right;	
}

/* end logs */

/* Preloder */
#floatingBarsG{
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -22px;
    margin-top: -28px;
    width:45px;
    height:56px}

.blockG{
    position:absolute;
    background-color:#FFFFFF;
    width:7px;
    height:17px;
    -moz-border-radius:6px 6px 0 0;
    -moz-transform:scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:6px 6px 0 0;
    -webkit-transform:scale(0.4);
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:6px 6px 0 0;
    -ms-transform:scale(0.4);
    -ms-animation-name:fadeG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:6px 6px 0 0;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:6px 6px 0 0;
    transform:scale(0.4);
    animation-name:fadeG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#rotateG_01{
    left:0;
    top:20px;
    -moz-animation-delay:0.39s;
    -moz-transform:rotate(-90deg);
    -webkit-animation-delay:0.39s;
    -webkit-transform:rotate(-90deg);
    -ms-animation-delay:0.39s;
    -ms-transform:rotate(-90deg);
    -o-animation-delay:0.39s;
    -o-transform:rotate(-90deg);
    animation-delay:0.39s;
    transform:rotate(-90deg);
}

#rotateG_02{
    left:6px;
    top:7px;
    -moz-animation-delay:0.52s;
    -moz-transform:rotate(-45deg);
    -webkit-animation-delay:0.52s;
    -webkit-transform:rotate(-45deg);
    -ms-animation-delay:0.52s;
    -ms-transform:rotate(-45deg);
    -o-animation-delay:0.52s;
    -o-transform:rotate(-45deg);
    animation-delay:0.52s;
    transform:rotate(-45deg);
}

#rotateG_03{
    left:19px;
    top:2px;
    -moz-animation-delay:0.65s;
    -moz-transform:rotate(0deg);
    -webkit-animation-delay:0.65s;
    -webkit-transform:rotate(0deg);
    -ms-animation-delay:0.65s;
    -ms-transform:rotate(0deg);
    -o-animation-delay:0.65s;
    -o-transform:rotate(0deg);
    animation-delay:0.65s;
    transform:rotate(0deg);
}

#rotateG_04{
    right:6px;
    top:7px;
    -moz-animation-delay:0.78s;
    -moz-transform:rotate(45deg);
    -webkit-animation-delay:0.78s;
    -webkit-transform:rotate(45deg);
    -ms-animation-delay:0.78s;
    -ms-transform:rotate(45deg);
    -o-animation-delay:0.78s;
    -o-transform:rotate(45deg);
    animation-delay:0.78s;
    transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:20px;
    -moz-animation-delay:0.9099999999999999s;
    -moz-transform:rotate(90deg);
    -webkit-animation-delay:0.9099999999999999s;
    -webkit-transform:rotate(90deg);
    -ms-animation-delay:0.9099999999999999s;
    -ms-transform:rotate(90deg);
    -o-animation-delay:0.9099999999999999s;
    -o-transform:rotate(90deg);
    animation-delay:0.9099999999999999s;
    transform:rotate(90deg);
}

#rotateG_06{
    right:6px;
    bottom:5px;
    -moz-animation-delay:1.04s;
    -moz-transform:rotate(135deg);
    -webkit-animation-delay:1.04s;
    -webkit-transform:rotate(135deg);
    -ms-animation-delay:1.04s;
    -ms-transform:rotate(135deg);
    -o-animation-delay:1.04s;
    -o-transform:rotate(135deg);
    animation-delay:1.04s;
    transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:19px;
    -moz-animation-delay:1.1700000000000002s;
    -moz-transform:rotate(180deg);
    -webkit-animation-delay:1.1700000000000002s;
    -webkit-transform:rotate(180deg);
    -ms-animation-delay:1.1700000000000002s;
    -ms-transform:rotate(180deg);
    -o-animation-delay:1.1700000000000002s;
    -o-transform:rotate(180deg);
    animation-delay:1.1700000000000002s;
    transform:rotate(180deg);
}

#rotateG_08{
    left:6px;
    bottom:5px;
    -moz-animation-delay:1.3s;
    -moz-transform:rotate(-135deg);
    -webkit-animation-delay:1.3s;
    -webkit-transform:rotate(-135deg);
    -ms-animation-delay:1.3s;
    -ms-transform:rotate(-135deg);
    -o-animation-delay:1.3s;
    -o-transform:rotate(-135deg);
    animation-delay:1.3s;
    transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-o-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

/* end preloader */


/* my styles */

#overlay{
    background-color: #a8a8a8;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}



/* begin my popup */

.pop_up {
    padding-top: 25px;
    background: white;
    z-index: 999;
    position: absolute;
    width: 90%;
    /*margin: 0 auto;*/
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    display: block;
    visibility: hidden;
    z-index: 101;
}

.pop_up a {
    background: white;
    text-decoration: none;
    color: #222222;
    font-weight: 700;
    text-shadow: 0 1px 0 #FFFFFF;
}

.pop_up .clear , .pop_up .close {
    position: absolute;
    border-radius: 2em 2em 2em 2em;
    top: -15px;
    background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;

}

.pop_up .clear {
    font-size: 1.2em;
    left: -11px;
    padding: 0.7em;
}

.pop_up  a.disabled {
    opacity: 0.3;
    z-index:1;
    cursor: default !important;
    background: transparent;
    color: #2F3E46;
    display:none;
}

.pop_up a.clear:hover {
    color: #2F3E46;
}


.pop_up .close {
    right: -15px;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E4E4E4 100%);
    border: 1px solid #D3D3D3;
    height: 55px;
    width: 55px;
}

.pop_up .close a :hover{
    color: #FFFFFF;
}

.pop_up .close span:first-child {
    left: -9999px;
    position: absolute;
}
.pop_up .close span:not(:first-child){
    display: block;
    background: url("../img/btn_close.png") no-repeat scroll center center transparent;
    height: 55px;
    margin: 0;
    width: 55px;
}


.pop_up .popup_content {
    padding: 0 20px 20px 20px;
}

.pop_up .popup_content h2{
    font-size: 0.9em;
}

.pop_up .popup_content h2 font{
    color: #757575;
    font-size: 0.9em;
    font-weight: normal;
}


.pop_up .popup_content a {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E4E4E4 100%);
    border-radius: 1.4em 1.4em 1.4em 1.4em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: left;
    cursor: pointer;
    display: block;
    margin: 0.5em 0;
    padding: 10px 0 10px 15px;
    position: relative;
    border: 1px solid #CCCCCC;
    color: #222222;
    font-weight: 700;
    text-shadow: 0 1px 0 #FFFFFF;
}

.pop_up .popup_content a:hover {
    color: #2F3E46;
}

body .popup-overlay {
    background-color: #A8A8A8;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100 !important;
}

/* end my popup */

/* -------------------------------------------- */

h5 {
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: right;
}
@media screen and (max-width:1280px) {
	.inspect .ui-li-thumb{
		top:25%;
	}
	h1.ui-title span.btn-back,h1.ui-title span.logout,h1.ui-title span.btn-back_inspect{
		padding: 0 1.2em;
		height: 100%;
		position: absolute; 
		right: 0px;
	}
	.ui-page .ui-header .ui-btn-right {
		top: 10%;
		left: 0%;
	}
	.ui-page .ui-header  span.logout a{
		top: 15%;
	}
	.ui-page .ui-header  span.btn-back_inspect a{
		top: 2px;
	}
	.ui-header h1.ui-title{
		min-height:46px;
	}
	.ui-header h1.ui-title.cancel_inspect {
		min-height:76px;
	}
}
@media screen and (max-width:854px) {
	.inspect .ui-li-thumb{
		top:30%;
	}
	h1.ui-title span.btn-back,h1.ui-title span.logout,h1.ui-title span.btn-back_inspect{
		padding: 0 1.2em;
		height: 100%;
		position: absolute; 
		right: 0px;
	}
	.ui-page .ui-header .ui-btn-right {
		top: 10%;
		left: 0%;
	}
	.ui-page .ui-header  span.logout a{
		top: 15%;
	}
	.ui-page .ui-header  span.btn-back_inspect a{
		top: 2px;
	}
	.ui-header h1.ui-title{
		min-height:46px;
	}
	.ui-header h1.ui-title.cancel_inspect {
		min-height:76px;
	}
}
@media screen and (max-width:480px) {
	.logo_img{
		background: url(../img/logo_280x108.png) no-repeat ;
		width: 300px;
		height: 108px;
		text-align: center;
		margin: 0 auto;
		position:relative;
	}
	.inspect .ui-li-thumb{
		top:35%;
	}
	h1.ui-title span.btn-back,h1.ui-title span.logout,h1.ui-title span.btn-back_inspect{
		padding: 0 1.2em;
		height: 100%;
		position: absolute; 
		right: 0px;
	}
	.ui-page .ui-header .ui-btn-right {
		top: 20%;
		left: 0%;
	}
	.ui-page .ui-header  span.log_back a{
		top: 10%;
	}
	.ui-page .ui-header  span.logout a{
		top: 15%;
	}
	.ui-page .ui-header  span.btn-back_inspect a{
		top: 2px;
	}
	.ui-header h1.ui-title{
		min-height:46px;
	}
	.ui-header h1.ui-title.cancel_inspect {
		min-height:76px;
	}
}
@media screen and (max-width:320px) {
	.logo_img{
		background: url(../img/logo_280x108.png) no-repeat ;
		width: 300px;
		height: 108px;
		text-align: center;
		margin: 0 auto;
		position:relative;
	}
	.inspect .ui-li-thumb{
		top:40%;
	}
	h1.ui-title span.btn-back,h1.ui-title span.logout,h1.ui-title span.btn-back_inspect{
		padding: 0 1.2em;
		height: 100%;
		position: absolute; 
		right: 0px;
	}
	.ui-page .ui-header .ui-btn-right {
		top: 23%;
		left: 0%;
	}
	.ui-page .ui-header  span.logout a{
		top: 15%;
	}
	.ui-page .ui-header  span.log_back a{
		top: 23%;
	}
	.ui-page .ui-header  span.btn-back_inspect a{
		top: 2px;
	}
	.ui-header h1.ui-title{
		min-height:46px;
	}
	.ui-header h1.ui-title.cancel_inspect {
		min-height:76px;
	}
}
@media screen and (max-width:240px) {
	.logo_img{
		background: url(../img/logo_200x69.png) no-repeat ;
		width: 210px;
		height: 69px;
		text-align: center;
		margin: 0 auto;
		position:relative;
	}
	#login_form .ui-btn{
		width:210px; 
	}
	#login_form .input_text{
		width:210px; 
	}
	.inspect .ui-li-thumb{
		top:40%;
	}
	h1.ui-title span.address {
		float: left;
		padding: 0.4em 0 0.3em 1em;
		width: 43%;
		white-space: normal;
	}
	h1.ui-title span.btn-back,h1.ui-title span.logout,h1.ui-title span.btn-back_inspect{
		 width:33%;
		 padding: 0 1.2em;
		 height: 100%;
		 position:absolute;
		 top:0px;
	}
	.ui-page .ui-header .ui-btn-right {
		top: 30%;
	}
	.ui-page .ui-header  span.logout a{
		top: 15%;
	}
	.ui-page .ui-header  span.log_back a{
		top: 30%;
	}
	.ui-page .ui-header  span.btn-back_inspect a{
		top: 2px;
	}
	.ui-header h1.ui-title{
		min-height:46px;
	}
	.ui-header h1.ui-title.cancel_inspect {
		min-height:76px;
	}
	h1.ui-title span.btn-back_inspect span.ui-btn-inner{
		font-size:10.5px;
	}
}
.beta{
	font-size:23px;
	color:red;
	position: absolute;
	top: 80%;
	left: 40%;
}