<?xml version='1.0' encoding='utf-8'?>
<widget id="com.azati.dcsmobile_alpha" version="0.4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!--<widget id="com.azati.dcsmobilen" version="0.4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0">-->
  <name>DCS - QA Inspections Alpha</name>
  <!--<name>DCS - QA Inspections Beta</name>-->
  <description>
    DCS - QA Inspections
  </description>
  <author email="stepan.kravtsevich@azati.com" href="http://azati.com">
      azati team
  </author>

  <preference name="phonegap-version" value="3.1.0" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true" />

  <!-- Plugins -->
  <gap:plugin name="com.phonegap.plugins.PushPlugin" />
  <gap:plugin name="org.apache.cordova.core.device"/>
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.vibration"/>

  <!-- alpha icons-->
  <icon src="res/alpha_icon/android/icon-36-ldpi.png" width="36" height="36" gap:platform="android" gap:density="ldpi"/>
  <icon src="res/alpha_icon/android/icon-48-mdpi.png" width="48" height="48" gap:platform="android" gap:density="mdpi"/>
  <icon src="res/alpha_icon/android/icon-72-hdpi.png" width="72" height="72" gap:platform="android" gap:density="hdpi"/>
  <icon src="res/alpha_icon/android/icon-96-xhdpi.png" width="96" height="96" gap:platform="android" gap:density="xhdpi"/>
  
  <!-- production icons -->
  <!--<icon src="res/icon/android/icon-36-ldpi.png" width="36" height="36" gap:platform="android" gap:density="ldpi"/>-->
  <!--<icon src="res/icon/android/icon-48-mdpi.png" width="48" height="48" gap:platform="android" gap:density="mdpi"/>-->
  <!--<icon src="res/icon/android/icon-72-hdpi.png" width="72" height="72" gap:platform="android" gap:density="hdpi"/>-->
  <!--<icon src="res/icon/android/icon-96-xhdpi.png" width="96" height="96" gap:platform="android" gap:density="xhdpi"/>-->

  <access origin="*" />
</widget>
